<h2>Movie List <button [routerLink]="['/movies/new']">Add a new movie</button></h2>
<table>
  <tr>
    <th>Name</th>
    <th>Action Avalable</th>
    <th>Average stars</th>
  </tr>
  <tr *ngFor= "let x of list" id="{{x['_id']}}">
      <td>{{x.name}}</td>
      <td>
          <button [routerLink]="['/movies/' + x['_id']]">Details</button>
          <button [routerLink]="['/movies/review/' + x['_id']]">Write a Review</button> 
      </td>
      <td>{{x.av}}</td>
    </tr>
</table>
<app-edit></app-edit>